.ui-half1-width{
    width: 220px;
}
.mat-calendar-body-cell.selected
{
  background-color:#d6eafa;
  border-radius: 100%
}
.habit-tracker {
    width: 300px;
}
.mat-calendar-header {
    padding-top: 0px !important;
}