<app-postlogin-toolbar></app-postlogin-toolbar>
<div>
  <mat-card class="card">
    
    <mat-card-header>
      
      
      <mat-card-title>Appointments for the day</mat-card-title><br>
      
    </mat-card-header>
    <mat-card-content>
      <H4 id="date"> {{currentDate | date:'dd-MMM-yyyy'}}</H4>
      <br>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Submited On</th>
            <td mat-cell *matCellDef="let row"> {{row.date| date:'dd-MMM-yyyy'}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="patientId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let row"> {{row.patientId}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes</th>
            <td mat-cell *matCellDef="let row"> {{row.reason}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
            <td mat-cell *matCellDef="let row"> <button mat-button [routerLink]="['/patient-health-record']">Add Diagnosis</button></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No Appointments for the day</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>

<br>
    </mat-card-content>
    <div >
    <mat-card-actions  mat-dialog-actions align="end">
      <button mat-raised-button routerLink="/dr-appointment" color="primary">View Pending Appointments</button>
    </mat-card-actions>
    </div>
  </mat-card>
</div>

