<app-prelogin-toolbar></app-prelogin-toolbar>
<div class="content" role="main">
<mat-card>
  <form class="ui-login-form">
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
      <mat-card-subtitle>Check your mail and reset password</mat-card-subtitle>
    </mat-card-header>
    <br/>
    <mat-card-content>
      <mat-form-field class="ui-full-width">
        <mat-label>New Password</mat-label>
        <input type="password" matInput [errorStateMatcher]="matcher"
               placeholder="*******" [formControl]="passwordFormControl">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          New Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="ui-full-width">
        <mat-label>Confirm New Password</mat-label>
        <input type="password" matInput [errorStateMatcher]="matcher"
               placeholder="*******" [formControl]="passwordFormControl">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          New Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions mat-dialog-actions align="end">
      <button mat-raised-button color="primary" [routerLink]="['/']">Save</button>&nbsp;
    </mat-card-actions>
  </form>
</mat-card>
</div>
