<h2 mat-dialog-title> Add Allergies (if any) </h2>
<mat-divider></mat-divider>
<mat-dialog-content [formGroup] = "form" >

  <mat-form-field appearance="fill">
    <mat-label>Add Allergies</mat-label>
    <mat-select [formControl]="allergy" [(ngModel)]="allergyId" multiple>
      <mat-select-trigger>
        {{allergy.value?.[0] || ''}}
        <span *ngIf="(allergy.value?.length || 0) > 1" class="example-additional-selection">
          (+{{(allergy.value?.length || 0) - 1}} {{allergy.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option  *ngFor="let allergy of allergies" [matTooltip]="allergy.notes"  [value]="allergy.id">{{allergy.name}}</mat-option>
    </mat-select>
  </mat-form-field>    

</mat-dialog-content>
        <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" mat-dialog-close (click)="saveinfo()">Save</button>
            <button mat-raised-button  mat-dialog-close (click)="resetinfo()" >Cancel</button>
          </div>
