<h2 mat-dialog-title> {{message}}</h2>

<mat-divider></mat-divider>
<mat-dialog-content [formGroup] = "form" *ngIf="!testUpdated">
    <mat-grid-list cols="2" rowHeight="2:1">
        <h3 mat-dialog-subtitle> Verified with test generated report</h3>
        
            <!-- <h4> <strong>Test Conducte: &nbsp;</strong></h4> -->
            <mat-form-field class="ui-full-width">  
                <mat-label>Test Conducted</mat-label>
                <input matInput placeholder="" formControlName="testConducted" required [(ngModel)]="test.name">
                <mat-error *ngIf="form.get('testConducted')?.invalid || form.get('testConducted')?.dirty || form.get('testConducted')?.touched"><strong>Test Conducted is required</strong></mat-error>
              </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <h4> <strong>Expected Result: &nbsp;</strong></h4> -->

      

        <div id="div1">
            <mat-form-field class="ui-full-width">  
                <mat-label>Result</mat-label>
                <textarea matInput placeholder="" formControlName="actualResult" required [(ngModel)]="test.result"></textarea>
                <mat-error *ngIf="form.get('actualResult')?.invalid || form.get('actualResult')?.dirty || form.get('actualResult')?.touched"><strong>Actual Result is required</strong></mat-error>
              </mat-form-field>
        </div>
    </mat-grid-list>
</mat-dialog-content>
        <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" (click)="saveinfo()" *ngIf="!testUpdated">Save</button>
            <button mat-raised-button  mat-dialog-close (click)="resetinfo()" >Cancel</button>
          </div>
