<app-postlogin-toolbar></app-postlogin-toolbar>
<mat-card-title id="error" align="center" *ngIf="check">Health records can not be updated till nurse adds diagnosis info</mat-card-title>
<div *ngIf="!check">
  <mat-card class="card" *ngIf="!check">

    <mat-card-header>
        <mat-card-title>Patient Health information</mat-card-title>
      </mat-card-header>
      
        <mat-card-content mat-dialog-actions align="end">
        <button mat-raised-button  color="primary"  [routerLink]="['/health-info']" [state]="{patient_id: patient_id}" >View Previous Medication History</button>
      </mat-card-content>
   
    
    <!-- <mat-card-content>
        <br> -->
        <!-- <div id="div2"><p><strong>Blood Pressure: </strong>120/80</p></div>---------------------------------------
        <div id="div1"><p><strong>Name: </strong>Mr.Romeo</p></div>-----------------------------------------
        <div id="div4"><p> <strong>Blood Group: </strong>B +ve</p></div>   -------------------------------------- 
        <div id="div2"><p><strong>Sugar: </strong>Nil</p></div>---------------------------------------
        <div id="div1"><p> <strong>Age: </strong>32</p></div>------------------------------------------
        <div id="div4"><p> <strong>Last consultation on: </strong>Dr. Andrew</p></div> ------------------
        <div id="div2"><p> <strong>Allergies: </strong>Skin, Face</p></div>
        <div id="div1"><p><strong>Gender: </strong>Male</p></div>-------------------------------------------
        <div id="div4"><p> <strong>Last consultation with: </strong>Dr. Andrew</p></div>------------------------
        <div id="div2" ><p> <strong>Height: </strong>167 cm</p> 
            <p> <strong>Weight: </strong>67 Kg</p>
            <p> <strong>Other notes to Doctor: </strong>Feeling stomach pain, headache and body fatigue. Severe throat pain while having food.</p>
        </div>
        <div id="div1"><p> <strong>Contact Number: </strong>0123456789</p><p> <strong>Address: </strong>Revature, 11730 Plaza America Dr. 2nd Floor Reston, VA 20190</p></div>
        <div id="div4"><p><strong>Key Notes on Previous consultation: </strong>Good recovery. Food poisoning is an illness caused by eating contaminated food. It's not usually serious and most people get better within a few days without treatment.</p></div>  
         -->
         <div class="container">
          <div id="item1">
         <mat-card-content>
          <label class="label"><b>Name</b></label><span class="details">: {{patient?.title}} {{patient?.firstName}} {{patient?.lastName}}</span><br>
      </mat-card-content>
      <br>
      <mat-card-content>
      <label class="label"><b>Age</b></label><span class="details">: {{age}}</span><br>
      </mat-card-content>
      <mat-card-content>
          <label class="label"><b>Gender</b></label><span class="details">:{{patient?.gender}}</span><br>
          </mat-card-content>
          <mat-card-content>
          <label class="label"><b>Contact</b></label><span class="details">: {{patient?.contactNumber}}</span><br>
          </mat-card-content>
          <mat-card-content>
          <label class="label"><b>Address</b></label><span class="details">: {{patient?.address}}</span><br>
      </mat-card-content>
      </div>
      <div id="item2" >
  <mat-card-content>
          <label class="label2"><b>Blood Group</b></label><span class="details2">: {{visitdetails.blood_group}}</span><br>
      </mat-card-content>
  <mat-card-content>
          <label class="label2"><b>Last consultation on</b></label><span class="details2">: {{visitdetails.date|date:'dd-MMM-YYYY'}}</span><br>
      </mat-card-content>
  <mat-card-content>
          <label class="label2"><b>Last consultation with</b></label><span class="details2">: {{visitdetails.physician_email|titlecase}}<br></span>
      </mat-card-content>
      <br>
    <mat-card-content>
      <br>
      <label class="label2"><b>Blood Pressure</b></label><span class="details2">: {{visitdetails.blood_pressure_systolic}}/{{visitdetails.blood_pressure_diastolic}}</span><br>
  </mat-card-content>
  <mat-card-content>
    <br>
    <label class="label2"><b>Body Temperature</b></label><span class="details2">: {{visitdetails.body_temperature}}</span><br>
</mat-card-content>
  </div>
  <div id="item3">
  <mat-card-content>
    <label class="label1"><b>Respiration Rate</b></label><span class="details1">: {{visitdetails.respiration_rate}}</span><br>
</mat-card-content>
<mat-card-content>
  <label class="label1"><b>Height</b></label><span class="details1">: {{visitdetails.height}} cm</span><br>
</mat-card-content>
<mat-card-content>
  <label class="label1"><b>Weight</b></label><span class="details1">: {{visitdetails.weight}} Kg</span><br>
</mat-card-content>
<mat-card-content>
  <label class="label1"><b>Allergies</b></label><span class="details1" *ngFor="let a of allergy"> {{a.name}}<br></span>
</mat-card-content>
<mat-card-content>
  <br>
    <label class="label1"><b>Other notes to Doctor</b></label><span class="details1">: {{reason}}</span><br>
</mat-card-content>
          </div>
        </div>
    <br>
    <mat-card class="card">
    <mat-card-content>
            <h4 id="subtitle">  <strong>Observations Made</strong> </h4>
            <div mat-dialog-actions align="end">
                <button mat-raised-button color="primary" (click)="newTest()">New Observation</button>
              </div><br>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Test Conducted</th>
                    <td mat-cell *matCellDef="let row"> {{row.name}}</td>
                  </ng-container>
                  <ng-container matColumnDef="result">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actual Result</th>
                    <td mat-cell *matCellDef="let row"> {{row.result}} </td>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit/ Delete </th>
                    <td mat-cell *matCellDef="let row"> <button mat-raised-button color="primary" (click)="editTest(row.id)">Edit</button>&nbsp;&nbsp;
                        <button mat-raised-button color="accent" (click)="deleteTest(row.id)">Delete</button>
                    </td>
                  </ng-container>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No Prescriptions Available.</td>
                  </tr>
                    
                 
                  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                  
                </table>
             
                <!-- <mat-paginator [pageSizeOptions]="[4, 8, 12, 16]" aria-label="Select page of users"></mat-paginator> -->
              </div>
        </mat-card-content><br>
        <mat-card-content>
           
        <div id="div12">
            <b>Enter Prescription: </b>
            <mat-card-content>
              <a mat-raised-button  color="primary" (click)="addPrescription()">+</a>
            </mat-card-content>
            <b>View Prescription: </b>
            <mat-card-content>
              <a mat-raised-button  color="primary" (click)="viewPrescription()">view</a>
            </mat-card-content>
          </div> 
          <div id="div4">
            <p><strong>Enter Key Notes: </strong></p>
            <mat-form-field class="ui-full-width">  
                <mat-label>Key Notes</mat-label>
                <textarea matInput [(ngModel)]="key_notes">{{key_notes}}</textarea>
            </mat-form-field>
          </div>
     
          <div  align="end"><button mat-raised-button color="primary" (click)="updateVisitDetails()" >Save</button>&nbsp;
            <button mat-raised-button  [routerLink]="['/dr-dashboard']">Cancel</button>
        </div>

      </mat-card-content>
    </mat-card>
  </mat-card>
  

        


       


