<h2 mat-dialog-title>Forgot password</h2>
<h3 mat-dialog-subtitle>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter your registered email id to reset password&nbsp;&nbsp;&nbsp;</h3>
<mat-divider></mat-divider>
<mat-dialog-content [formGroup] = "form" >
    <mat-grid-list cols="2" rowHeight="2:1">
        <div>
            <mat-form-field class="ui-full-width">  
                <mat-label>Email</mat-label>
                <input type="email" matInput [errorStateMatcher]="matcher"
                placeholder="Ex. itsme@mail.com" [formControl]="emailFormControl">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                 Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                 Email is <strong>required</strong>
        </mat-error>
              </mat-form-field>
        </div>
    </mat-grid-list>
</mat-dialog-content>
        <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" mat-dialog-close routerLink="/patient-reset-password">Reset</button>
            <button mat-raised-button  mat-dialog-close (click)="resetinfo()" >Cancel</button>
          </div>
